.landingContainer {
  width: 100vw;
  margin: 120px 35%;
}

.loginSection, .signupSection {
  border: 1px solid #f2f2f2;
  padding: 10px 50px 30px;
  box-shadow: 0 2px 18px rgba(0,0,0,.1);
  width: 350px;
  border-radius: 5px;
}

.label {
  margin-top: 5px;
  font-size: 14px;
  color: grey;
}

.bottomText {
  margin: 20px 0;
  color: #26C6DA;
  cursor: pointer;
}
